<div id="table_wrapper">
	<div id="cell">
		<div id="image_form">
			<%= form_for @asset, :url => asset_index_path(@asset), :html => {:multipart => true} do |f| %>
				<%= f.hidden_field :lat , :id => 'asset_lat' %>
				<%= f.hidden_field :lng , :id => 'asset_lng' %>
			  <p>
			    <%= f.file_field :image, :id => "image_uploader", :class => "filebutton black" %>
			  </p>
			  <p><%= f.submit "Upload" , :class => 'button black'%></p>
			<% end %>
		</div>
	</div>
</div>