<!DOCTYPE html>
<html>
<head>
  <title>Huestreet</title>
  <%= stylesheet_link_tag    "reset", "application", controller_name, :media => "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer><%= yield :scripts %></footer>
</body>
</html>
